
*{
    margin: 0px;
    padding: 0px;
}

body{
margin: 0px;
padding: 0px;
box-sizing: border-box;
overflow-x: hidden;
background-color: #ffffff;
overflow-x: hidden;
}


#dash1{
    text-decoration: none;
    display: block;
    justify-content: space-evenly;

}

.dash2  li a{
    text-decoration: none;
    list-style-type: none;
    font-size: 24px;
    justify-content: space-evenly;
    gap: 18px;
    margin: 20px;
    padding: 10px;
    row-gap: 20px;
    margin: 20px;
    line-height: 80px;
}


.dash2 li i{

}